<template>
  <div id="demovue"
  class="content-wrapper">
  <!-- Simple panel -->
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Simple panel</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
          <li><a data-action="close"></a></li>
        </ul>
      </div>
    </div>

    <div class="panel-body">
      {{socketData |json}}
      <p class="content-group" @click="demom">Tikla</p>
    }
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>x</th>
          <th>x</th>
          <th>x</th>
          <th>x</th>
          <th>x</th>
          <th>x</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index, i) in maclar" v-if="item.active == '1'">
          <td> {{i}} : {{item.active}}
          </td>
          <td>{{item.score}}
          </td>
          <td>match time : {{item.matchtime_extended ? item.matchtime_extended : item.matchtime}}

          </td>
          <template v-for="mar in firstOdds[item.sport_id]" v-if="markets[listeDetay[mar + item.matchid]]">
            <td>

              <template v-for="mo,i in markets[listeDetay[mar + item.matchid]].odds">
                <button v-if="i == 1 && sbvs[mar]" class="btn btn-xs ml-5 btn-warning">
                  {{sbvs[mar]}}
                </button>
                <button class="btn btn-xs ml-5 btn-info" v-bind:class="mo.action">
                 {{mo.value}}
               </button>

             </template>


           </td>
         </template>

       </tr>
     </tbody>
   </table>
 </div>
</div>
<!-- /simple panel -->

</div>
<!-- /main content -->
</template>

<script>
import sportData from '../assets/sport-list.json';
import * as _ from 'underscore'
import io from 'socket.io-client';
const socket = io('https://live.redsoftnv.com');

export default {
  name: 'hello',
  data () {
    return {
      listeDetay : {},
      socketData : null,
      maclar : {},
      markets : {},
      firstOdds :  {
        '1' : { one : '20', two : '64', three : '50', four : '830'},
        '2' : { one : '20', two : '737', three : '8974', four : '50'},
        '5' : { one : '710', two : '711', three : '894', four : '895'},
        '23' : { one : '50', two : '7102', three : '7103', four : '830'},
        '109' : { one : '61392', two : '7102', three : '71400', four : '81398'},
        '29' : { one : '64', two : '613', three : '50', four : '830'},
        '19' : { one : '7102', two : '64', three : '50', four : '830'},
        '3' : { one : '6335', two : '6198', three : '737', four : '863'},
        '4' : { one : '20', two : '64', three : '50', four : '716'}
      },
      sbvs :  {
        '50' : 1,
        '711' : 1,
        '895' : 1,
        '7103' : 1
      }
    }
  },
  watch: {
    maclar20 : {
      handler: function (newVal, oldVal) {},
      deep: true,
      sync : true
    },
    maclarold: function (val, oldVal) {
      console.log('beforeUpdated', val, oldVal)
    }
  },
  mounted () {},
  updated (oldde, newde) {
    //console.log('updated', oldde, newde)
  },
  beforeUpdated (valo, oldVal) {
    console.log('beforeUpdated', valo, oldVal)
  },
  created() {
    socket.emit('type', 'betting');
    socket.on('live', (data) => {
      //this.socketData = data.data
      _.mapObject(data.data, (sv, sk) => {
        if (sv.details && this.maclar[sv.details.matchid]) {
         // this.maclar[sv.details.matchid] =  sv.details
         this.maclar[sv.details.matchid] = Object.assign(this.maclar[sv.details.matchid], sv.details)
       }
       if (sv.markets) {
        _.mapObject(sv.markets, (mv, mk) => {
          if (this.markets[mk] && mv.odds) {
            _.map(this.markets[mk].odds, (odd, i) => {
              if (mv.odds[odd.type]) {
                //console.log(odd, mv.odds[odd.type])
                if (mv.odds[odd.type].value > odd.value) {
                  mv.odds[odd.type].action = mv.odds[odd.type].action == 'upper' ? 'upper2' : 'upper'
                  this.markets[mk].odds[i] = mv.odds[odd.type]
                } else if (mv.odds[odd.type].value < odd.value){
                  mv.odds[odd.type].action = mv.odds[odd.type].action == 'down' ? 'down2' : 'down'
                  this.markets[mk].odds[i] = mv.odds[odd.type]
                }

                //this.markets[mk].odds = mv.odds[odd.type]
              }
            })
        /*    _.mapObject(sv.markets, (ov, ok) => {
this.markets[mk].odds[]
            })
            */
            //this.markets[mk].odds
            //console.log(mv.odds, this.markets[mk].odds)
          }

        })

      }
    })
    });
    this.getirSpor()
  },
  computed: {
    marketsNumbers: function () {}
  },
  filters: {
    json: function (value) {
      if (!value) return ''
        return JSON.stringify(value, null, 2)
    }
  },
  methods: {

    demom: function () {
      console.log('Maclar :', _.size(this.maclar))
      console.log('MArkets : ', _.size(this.markets))
      console.log('Detay : ', _.size(this.listeDetay))
      /*
      let emptyObject = {}
      let marketIds = {}
_.mapObject(this.markets, function(val, key) { //matchid : markets ids *object
  _.mapObject(val, function(mi, mk) { //market : object

    if (!emptyObject[mi.typeid + mi.subtype + '-' + key]) {
      emptyObject[mi.typeid + mi.subtype + '-' + key] = mi.sbv
      marketIds[mi.typeid + mi.subtype + '-' + key] = mi.id
    }
    else if(emptyObject[mi.typeid + mi.subtype + '-' + key] > mi.sbv){
      emptyObject[mi.typeid + mi.subtype + '-' + key] = mi.sbv
      marketIds[mi.typeid + mi.subtype + '-' + key] = mi.id
    }
     // console.log('Değişti : ', emptyObject)
   })
})
//this.firstOdds = emptyObject
//this.firstOdds = marketIds
*/
},
marketUpdate : function (id, markets) {
       //let keysMarkets = Object.keys(markets) //bir maçın marketleri

       let bosArray = []
       _.mapObject(markets, function(val, key) {
        bosArray.push(val)
      });

       _.sortBy(bosArray, 'sbv').map(mis => {
        if (!this.listeDetay[mis.typeid + mis.subtype + mis.matchid]) {
          this.listeDetay[mis.typeid + mis.subtype + mis.matchid] = mis.id
        }
      });


     },

     getirSpor : function () {
      var apiurl = 'https://apex.redsoftnv.com/api/live/?active=1&status=started';
      fetch(apiurl).then(response => {
        return response.json()
      }
      ).then(response => {
        var sayma = 0
        var getMarkets = Object.keys(response.data)
        for (var i = getMarkets.length - 1; i >= 0; i--) {

          var currentRes = response.data[getMarkets[i]]
          sayma += _.size(currentRes.markets)
          let bosArray = []

          _.mapObject(currentRes.markets, (val, key) => {
            bosArray.push(val)
          });

          _.sortBy(bosArray, 'sbv').map(mis => {
            if (!this.listeDetay[mis.typeid + mis.subtype + mis.matchid]) {
              this.listeDetay[mis.typeid + mis.subtype + mis.matchid] = mis.id
            }
          });

          _.mapObject(currentRes.markets, (val, key) => {
            if (this.listeDetay[val.typeid + val.subtype + val.matchid] == val.id) {
              this.markets[val.id] = val
            }
          });

          delete response.data[getMarkets[i]].category
          delete response.data[getMarkets[i]].sport
          delete response.data[getMarkets[i]].tournament
          delete response.data[getMarkets[i]].markets
          delete response.data[getMarkets[i]].teams
        }

        this.maclar = response.data

      })
      .catch(err => {
        console.log('Fetch Error :-S', err);
      });
    },
    socketUpdate : function(){}
  }
}
//https://jsfiddle.net/rg50h7hx/1/
</script>


<style scoped>


button[class*="upper"] {
  animation: play 4s steps(100);
}
button[class*="upper2"] {
  animation: play2 4s steps(100);
}
button[class*="down"] {
  animation: play3 4s steps(100);
}
button[class*="down2"] {
  animation: play4 4s steps(100);
}

@keyframes play {
  30% {
    color : white;
    background-color: green;
  }
  60% {
    opacity: 0;
    color : white;
    background-color: green;
  }
  100% {
    color : white;
    background-color: green;
  }
}

@keyframes play2 {
  30% {
    color : white;
    background-color: green;
  }
  60% {
    opacity: 0;
    color : white;
    background-color: green;
  }
  100% {
    color : white;
    background-color: green;
  }
}

@keyframes play3 {
 30% {
  color : white;
  background-color: red;
}
60% {
  opacity: 0;
  color : white;
  background-color: red;
}
100% {
  color : white;
  background-color: red;
}
}
@keyframes play4 {
 30% {
  color : white;
  background-color: red;
}
60% {
  opacity: 0;
  color : white;
  background-color: red;
}
100% {
  color : white;
  background-color: red;
}
}


</style>
