<template>
  <div id="demo" class="content-wrapper" >

    <template v-if="taxonomies.sports">

      <!-- Simple panel -->
      <div class="panel panel-flat" v-for="(sport, si) in taxonomies.sports">

        <div class="table-responsive">
          <table class="table table-sm text-nowrap table-bordered">
            <thead>
              <tr>
                <th>{{sport.tr}} Teams</th>
                <th>Score</th>
                <th>Match Time</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(cat, ci) in taxonomies.categories" v-if="cat.sport === si">
                <template v-for="(tour, ti) in taxonomies.tournaments" v-if="tour.category === ci">
                  <tr class="info">
                    <td colspan="8">
                      {{cat.tr}} -- {{tour.tr}}
                    </td>
                  </tr>
                  <template v-for="(item, matchid, i) in maclar" v-if="item.tournament_id === ti">
                    <tr class="">
                      <td>
                        {{item.teams.home.tr}} -- {{item.teams.away.tr}}
                      </td>
                      <td>
                       {{item.score}}
                      </td>
                      <td>
                        {{item.matchtime_extended ? item.matchtime_extended : item.matchtime}}
                      </td>
                      <template v-for="mar in firstOdds[si]">
                        <td>
                          <template v-if="markets[listeDetay[mar + matchid]]">
                            <template  v-for="mo,i in markets[listeDetay[mar + matchid]].odds">
                              <button v-if="sbvs[mar] && i == 1" class="btn btn-xs ml-5 btn-warning">
                                {{markets[listeDetay[mar + matchid]].sbv}}
                              </button>
                              <button class="btn btn-xs ml-5 btn-info" v-bind:class="mo.action">
                               {{mo.value}}
                             </button>
                           </template>
                         </template>


                       </td>
                     </template>
                   </tr>
                 </template>
               </template>
             </template>
           </tbody>
         </table>
       </div>
     </div>
   </template>
</div>
<!-- /main content -->
</template>

<script>
import sportData from '../assets/sport-list.json';
import * as _ from 'underscore'
import io from 'socket.io-client';
const socket = io('https://live.redsoftnv.com');

export default {
  name: 'demo',
  data () {
    return {
      taxonomies : {},
      listeDetay : {},
      socketData : null,
      maclar : {},
      markets : {},
      firstOdds :  {
        '1' : { one : '20', two : '64', three : '50', four : '830'},
        '2' : { one : '20', two : '737', three : '8974', four : '50'},
        '5' : { one : '710', two : '711', three : '894', four : '895'},
        '23' : { one : '50', two : '7102', three : '7103', four : '830'},
        '109' : { one : '61392', two : '7102', three : '71400', four : '81398'},
        '29' : { one : '64', two : '613', three : '50', four : '830'},
        '19' : { one : '7102', two : '64', three : '50', four : '830'},
        '3' : { one : '6335', two : '6198', three : '737', four : '863'},
        '4' : { one : '20', two : '64', three : '50', four : '716'}
      },
      sbvs :  {
        '50' : 1,
        '711' : 1,
        '895' : 1,
        '7103' : 1
      }
    }
  },
  watch: {
    maclar20 : {
      handler: function (newVal, oldVal) {},
      deep: true,
      sync : true
    },
    maclarold: function (val, oldVal) {
      console.log('beforeUpdated', val, oldVal)
    }
  },
  updated (oldde, newde) {
    //console.log('updated', oldde, newde)
  },
  beforeUpdated (valo, oldVal) {
    console.log('beforeUpdated', valo, oldVal)
  },
  beforeCreate () {

  },
  created() {
    this.getirSpor();


  },
  beforeMounted () {

  },
  mounted () {
    socket.emit('type', 'betting');
    socket.on('live', (data) => {
      //this.socketData = data.data
      _.mapObject(data.data, (sv, sk) => {
        if (sv.details && this.maclar[sv.details.matchid]) {
         // this.maclar[sv.details.matchid] =  sv.details
         this.maclar[sv.details.matchid] = Object.assign(this.maclar[sv.details.matchid], sv.details)
       }
       if (sv.markets) {
        _.mapObject(sv.markets, (mv, mk) => {
          if (this.markets[mk] && mv.odds) {
            _.map(this.markets[mk].odds, (odd, i) => {
              if (mv.odds[odd.type]) {
                //console.log(odd, mv.odds[odd.type])
                if (mv.odds[odd.type].value > odd.value) {
                  mv.odds[odd.type].action = odd.action == 'oup' ? 'odup' : 'oup'
                  this.markets[mk].odds[i] = mv.odds[odd.type]
                } else if (mv.odds[odd.type].value < odd.value){
                  mv.odds[odd.type].action = odd.action == 'odown' ? 'oddown' : 'odown'
                  this.markets[mk].odds[i] = mv.odds[odd.type]
                }
               // this.markets[mk].odds[i] = mv.odds[odd.type]
                //this.markets[mk].odds = mv.odds[odd.type]
              }
            })
        /*    _.mapObject(sv.markets, (ov, ok) => {
                this.markets[mk].odds[]
            })
            */
            //this.markets[mk].odds
            //console.log(mv.odds, this.markets[mk].odds)
          }

        })

      }
    })
    });
  },
  computed: {
    marketsNumbers: function () {}
  },
  filters: {
    json: function (value) {
      if (!value) return ''
        return JSON.stringify(value, null, 2)
    }
  },
  methods: {

    demom: function () {
      console.log('Maclar :', _.size(this.maclar))
      console.log('MArkets : ', _.size(this.markets))
      console.log('Detay : ', _.size(this.listeDetay))
      /*
      let emptyObject = {}
      let marketIds = {}
_.mapObject(this.markets, function(val, key) { //matchid : markets ids *object
  _.mapObject(val, function(mi, mk) { //market : object

    if (!emptyObject[mi.typeid + mi.subtype + '-' + key]) {
      emptyObject[mi.typeid + mi.subtype + '-' + key] = mi.sbv
      marketIds[mi.typeid + mi.subtype + '-' + key] = mi.id
    }
    else if(emptyObject[mi.typeid + mi.subtype + '-' + key] > mi.sbv){
      emptyObject[mi.typeid + mi.subtype + '-' + key] = mi.sbv
      marketIds[mi.typeid + mi.subtype + '-' + key] = mi.id
    }
     // console.log('Değişti : ', emptyObject)
   })
})
//this.firstOdds = emptyObject
//this.firstOdds = marketIds
*/
},
marketUpdate : function (id, markets) {
       //let keysMarkets = Object.keys(markets) //bir maçın marketleri

       let bosArray = []
       _.mapObject(markets, function(val, key) {
        bosArray.push(val)
      });

       _.sortBy(bosArray, 'sbv').map(mis => {
        if (!this.listeDetay[mis.typeid + mis.subtype + mis.matchid]) {
          this.listeDetay[mis.typeid + mis.subtype + mis.matchid] = mis.id
        }
      });


     },

     getirSpor : function () {
      var apiurl = 'https://apex.redsoftnv.com/api/live/?active=1&status=started';
      fetch(apiurl).then(response => {
        return response.json()
      }
      ).then(response => {
        let cleanObject = {
        sports : {},
        categories : {},
        tournaments : {}
      }
        var sayma = 0
        var getMarkets = Object.keys(response.data)
        for (var i = getMarkets.length - 1; i >= 0; i--) {
          let currentRes = response.data[getMarkets[i]]

          sayma += _.size(currentRes.markets)
          let bosArray = []

          _.mapObject(currentRes.markets, (val, key) => {
            bosArray.push(val)
          });

          _.sortBy(bosArray, 'sbv').map(mis => {
            if (!this.listeDetay[mis.typeid + mis.subtype + mis.matchid]) {
              this.listeDetay[mis.typeid + mis.subtype + mis.matchid] = mis.id
            }
          });

          _.mapObject(currentRes.markets, (val, key) => {
            if (this.listeDetay[val.typeid + val.subtype + val.matchid] == val.id) {
              this.markets[val.id] = val
            }
          });
          cleanObject.sports[currentRes.sport_id] = currentRes.sport
          cleanObject.categories[currentRes.category_id] = currentRes.category
          cleanObject.tournaments[currentRes.tournament_id] = currentRes.tournament
          delete response.data[getMarkets[i]].category
          delete response.data[getMarkets[i]].sport
          delete response.data[getMarkets[i]].tournament
          delete response.data[getMarkets[i]].markets
         // delete response.data[getMarkets[i]].teams
        }

        this.maclar = response.data
        this.taxonomies = cleanObject

      })
      .catch(err => {
        console.log('Fetch Error :-S', err);
      });
    },
    socketUpdate : function(){}
  }
}
//https://jsfiddle.net/rg50h7hx/1/
</script>


<style scoped>



/* https://codepen.io/terkel/pen/ywEth */
button[class*="oup"] {
  animation-name: play;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
button[class*="odup"] {
  animation-name: play2;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
button[class*="odown"] {
  animation-name: play3;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
button[class*="oddown"] {
  animation-name: play4;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}

@keyframes play {
  from {background-color: transparent;}
  to {background-color: green;}
}

@keyframes play2 {
  from {background-color: transparent;}
  to {background-color: green;}
}

@keyframes play3 {
  from {background-color: transparent;}
  to {background-color: red;}
}
@keyframes play4 {
  from {background-color: transparent;}
  to {background-color: red;}
}


/*
@keyframes play {
  30% {
    color : white;
    background-color: green;
  }
  60% {
    opacity: 0;
    color : white;
    background-color: green;
  }
  100% {
    color : white;
    background-color: green;
  }
}

@keyframes play2 {
  30% {
    color : white;
    background-color: green;
  }
  60% {
    opacity: 0;
    color : white;
    background-color: green;
  }
  100% {
    color : white;
    background-color: green;
  }
}

@keyframes play3 {
 30% {
  color : white;
  background-color: red;
}
60% {
  opacity: 0;
  color : white;
  background-color: red;
}
100% {
  color : white;
  background-color: red;
}
}
@keyframes play4 {
 30% {
  color : white;
  background-color: red;
}
60% {
  opacity: 0;
  color : white;
  background-color: red;
}
100% {
  color : white;
  background-color: red;
}
}
*/
</style>
