<template>
      <div class="content-wrapper">
        <!-- Table -->
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title">x table</h5>
            <div class="heading-elements">
              <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="close"></a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="panel-body">....
                  </div>


        </div>


  </div>

</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
